.container {
  border: dashed;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 110px;
}

.icon {
  display: flex;
  flex: 0 0 auto;
  justify-items: center;
  align-items: center;
  /* padding: 5%; */
  height: 100%;
  margin: 10px;
}

.center_box {
  border: solid;
  /* background-color: red; */
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  /* display: flex; */
  display: flex;
  width: 100%;
  flex-shrink: 1;
}
.text {
  border: solid;
  /* display: flex; */
  /* flex: 1 1 auto; */
  flex-shrink: 1;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.date {
  display: flex;
  flex: 0 0 auto;
  justify-items: center;
  align-items: center;
}
