.container {
  display: flex;
  height: 100%;
  /* width: 100vw; */
  /* flex-direction: column; */
}

.left_side {
  /* flex: 0.25; */
  border: solid;
  border-color: red;
  display: flex;
  width: 420px;
  height: 100%;
  flex-direction: column;
  /* padding: 10px; */
}

.right_side {
  /* flex: 0.75; */
  flex-grow: 1;
  border: solid;
  border-color: blue;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* padding: 10px; */
}
